
html, body{
	font-size:1rem;
	color: #1D2222;
	background-color: #FFF;
	font-family: 'Varela Round', sans-serif;
}

/*Sizes*/
.height-large{
	height:12vh;
	padding-top:4vh;
}

/*Text Sizes*/
.text-size-xs {
	font-size: 0.8rem;
}
.text-size-l {
	font-size: 1.6rem;
}
